/* Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.main-fatures {
  /* border: 1px solid red; */
  padding: 30px 0 0 0;
}

.main-features h1 {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  color: #172755;
}

.main-features p {
  width: 1160px;
  height: 53px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #8794ba;
  margin: 30px 0 0 400px;
}

.main-features-pages {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 0;
  height: 230px;
  margin: 0 0 130px 0;
}

.main-features-page-1 {
  padding: 0;
  width: 380px;
  height: 164px;
  text-align: center;
  /* border: 1px solid red; */
}

.main-features-page-2 {
  padding: 0;
  width: 380px;
  height: 164px;
  text-align: center;
  margin: 0 20px;
  /* border: 1px solid red; */
}

.main-features-page-3 {
  padding: 0;
  width: 380px;
  height: 164px;
  text-align: center;
  /* border: 1px solid red; */
}

.pages img {
  width: 60px;
  height: 60px;
}

.pages h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #172755;
  margin: 12px 0;
}

.pages p {
  width: 360px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #8794ba;
}