/* RWD */

@media only screen and (max-width: 1920px) {

.main-fatures {
    /* border: 1px solid red; */
    padding: 30px 0 0 0;
}

.main-features h1 {
    margin: 60px 0 30px 0;
    font-size: 45px;
}

.main-features p {
    text-align: center;
    width: 1440px;
    font-size: 25px;
    margin: 0 auto;
}

.main-features-pages {
    margin: 20px 0 0 0;
    /* border: 1px solid red; */
    padding: 55px 210px 0 200px;
}

.pages p {
    width: 380px;
    font-size: 18px;
}

}

@media only screen and (max-width: 1780px) {

.main-features h1 {
    margin: 60px 0 30px 0;
    font-size: 40px;
}

.main-features-page-2 p {
    width: 410px;
    font-size: 18px;
}

}

@media only screen and (max-width: 1750px) {

.main-features h1 {
    margin: 60px 0 30px 0;
    font-size: 36px;
}

}

@media only screen and (max-width: 1700px) {

.main-features h1 {
    margin: 60px 0 30px 0;
    font-size: 36px;
}

.main-features p {
    text-align: center;
    width: 1180px;
    font-size: 20px;
    margin: 0 auto;
}

.main-features-page-2 p {
    width: 410px;
    font-size: 18px;
    margin: 0 0 0 -10px;
}

.main-features-page-3 p {
    width: 410px;
    font-size: 18px;
    margin: 0 0 0 5px;
}

}

@media only screen and (max-width: 1600px) {

.main-features h1 {
    margin: 30px 0 30px 0;
    font-size: 35px;
}

.main-features {
    /* border: 1px solid red; */
    padding: 30px 0 10px 0;
}

.main-features-pages {
    margin: 20px 0 0 0;
    /* border: 1px solid red; */
    padding: 55px 180px 0 200px;
}

.pages h5 {
    font-size: 16px;
    margin: 27px 0 15px 0;
}

.main-features p {
    text-align: center;
    width: 1180px;
    font-size: 20px;
    margin: 0 auto;
}

.main-features-page-1 p {
    width: 360px;
    font-size: 16px;
    margin: 0 0 0 0;
}

.main-features-page-2 p {
    width: 360px;
    font-size: 16px;
    margin: 0 0 0 0;
}

.main-features-page-3 p {
    width: 360px;
    font-size: 16px;
    margin: 0 0 0 0;
}

}

@media only screen and (max-width: 1520px) {

.main-features-pages {
    margin: 20px 0 0 0;
    /* border: 1px solid red; */
    padding: 55px 120px 0 120px;
}

}

@media only screen and (max-width: 1430px) {

.main-features-pages {
    margin: 20px 0 0 0;
    /* border: 1px solid red; */
    padding: 55px 90px 0 100px;
}

}

@media only screen and (max-width: 1330px) {

.main-features-pages {
    margin: 20px 0 0 0;
    /* border: 1px solid red; */
    padding: 55px 30px 0 30px;
}

}